<div class="'container"> 
    <aside class="sidebar">
        <nav> 
            <u1>
                <li><a href="{{ '/' | relative_url }}">CHRISTIAN HERNANDEZ</a></li>
                <li><a href="{{ '/pages/work' | relative_url }}">WORK</a></li>
                <li><a href="{{ '/pages/read' | relative_url }}">READ</a></li>
                <li><a href="#">PHOTO</a></li>
            </u1>    
        </nav>
        <div><a href="mailto:hernandezchristian2002@gmail.com" class="mail-link">hernandezchristian2002@gmail.com</a></div>
    </aside>
</div>

