* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  display: flex;
  background: white;
}

.navbar {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

.sidebar {
  width: 220px;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 13px;
}
.navbar nav {
  list-style: none;
  margin-bottom: 20px;
}

.navbar a {
  text-decoration: none;
  margin: 5px 0;
  cursor: pointer;
  color: #333;
}

.mail-link{
  margin-top: auto;
  font-size: 12px;
  color: #667
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.footer {
  padding: 20px;
  font-size: 12px;
  color: #444;
  text-align: center;
}

.footer a {
  text-decoration: none;
  color: #444;
  margin: 0 5px;
}
