body{
  display: flex;
  border: 2px solid red;
}

.sidebar{
  display: flex;
  flex-direction: column;
  font-family: Helvetica;
  border: 2px solid blue;
}


.menu{
  font-size: 12px;
  border: 2px solid green;
}

.mail-link {
  font-size: 10px;
  color: #667
}















/* MAIN-PAGE CSS */
.main {
  margin-top: 100px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 600px;
  height: 1000px;
}

.slideshow-container {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 400px;
  overflow: hidden;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: fade 10s infinite;
}

.slide img {
  width:100%;
  height:100%;
  object-fit: cover;
}

.slide:nth-child(1) {
  animation-delay: 0s;
}

.slide:nth-child(2) {
  animation-delay: 5s;
}


@keyframes fade {
  0%   { opacity: 0; }
  10%  { opacity: 1; }
  30%  { opacity: 1; }
  40%  { opacity: 0; }
  100% { opacity: 0; }
}

/* FOOTER CSS */ 
.footer {
  padding: 20px;
  font-size: 10px;
  color: #444;
  text-align: center;
}

.footer a {
  text-decoration: none;
  color: #444;
  margin: 0 5px;
}


/* WORK CSS*/

.main-work {
  width: 100%;
  max-width: none;
  padding: 0;
  margin: 0;
  overflow: visible;
}

/* READ CSS */ 

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  border-bottom: 1px solid black;
  padding-bottom: 5px
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 30px;
}

.grid-item {
  text-align: left;
}

.grid-item img {
  width: 100%;
  height: auto;
  display: block;
}

.grid-item h3 {
  font-size: 16px;
  text-transform: uppercase;
  margin: 8px 0 4px;
}

.meta {
  font-size: 13px;
  color: #666;
  font-style: italic;
}

