<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Christian Hernandez</title>
  <link rel="stylesheet" href= "assets/css/style.css"/>
</head>
<body>
  <div class="container">
    <aside class="sidebar">
      <div class="name">Christian Hernandez</div>
      <nav>
        <ul>
          <li>WORK</li>
          <li>READ</li>
          <li>PHOTO</li>
          <li>VIDEO</li>
        </ul>
      </nav>
      <div class="contact">hernandezchristian2002@gmail.com</div>
    </aside>

    <main class="main">
      <img src="images/serape.webp" alt="Main Visual" />
      <footer>
        <div>CHRISTIAN HERNANDEZ © 2025</div>
        <div class="socials">
          <a href="#">Email</a> —
          <a href="#">Instagram</a> —
          <a href="#">TikTok</a>
        </div>
      </footer>
    </main>
  </div>
</body>
</html>
