<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>

<body>
{% include navbar.html %}
  <div class="main">

    {{ content }} 

    <div class="slideshow-container"> 

      <div class="slide-fade"> 
        <img src="{{ '/assets/images/Serape.webp' | relative_url }}" alt="Serape"> 
      </div>

      <div class="slideshow-container"> 
        <img src="{{ '/assets/images/ChristianGradPhoto.tif' | relative_url }}" alt="ChristianGradPhoto">
      </div>

    </div>

    {% include footer.html %}

  </div>

</body>

</html>
